@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

slot {
    font-weight: bold;
}

hr {
    height: 2px;
    border: none;
    background-color: #03346E;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.judul {
    width: 75%;
    font-weight: 600;
}

.bio {
    margin-top: 10px;
    width: 75%;
    font-weight: 400;
}

.deskripsi {
    width: 75%;
    font-weight: 400;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #021526;
    height: 4rem;
    z-index: 100;
    box-shadow: 2px 2px 2px 2px #021526;
}

nav .versihape {
    display: none;
}

nav .links a {
    text-decoration: none;
    color: #ffffff;
    margin: 50px;
    font-size: 1.4rem;
    font-family: "Poppins";
    border-bottom: 1px solid #00000000;
    font-weight: 0;
    font-family: "Inter", sans-serif;
    transition: 0.1s ease;
}

nav .links a:hover {
    color: #E2E2B6;
}

header {
    padding-top: 4rem;
}

header div {
    width: 100%;
    text-align: center;
}

header div img {
    width: 100%;
    height: 50rem
}

.textheader {
    width: 80%;
    margin-top: -38rem;
    margin-bottom: 28rem;
    color: #ffffff;
}

.textheader h1 {
    font-size: 4.5rem;
}

.textheader h2 {
    margin-top: 20px;
    font-size: 2rem;
}

.mengenal {
    margin-top: 5rem;
    text-align: center;
}

.gejala {
    text-align: center;
}

.daftarcard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    height: auto;
}

.card {
    height: 30rem;
    width: 30rem;
    box-shadow: 4px 4px 4px 4px #6EACDA;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .judul {
    margin-top: 10px;
    font-size: 25px;
    text-align: left;
}

.card .icon {
    position: relative;
    background-color: #6EACDA;
    border-radius: 100%;
    width: 18%;
    height: 18%;
    margin-top: -45px;
    background-position: center;
}

.card .deskripsi {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
}

.card .icon1 {
    background-image: url(images/IconGangguanKesehatanMental.png);
    background-size: 4.8rem
}

.card .icon2 {
    background-image: url(images/iconGangguanSosial.png);
    background-size: 4.6rem
}

.card .icon3 {
    background-image: url(images/iconGangguanAkademik.png);
    background-size: 4.2rem
}

.card .icon4 {
    background-image: url(images/iconGangguanFisik.png);
    background-size: 5.4rem
}

.daftarcard2 {
    width: 90%;
}

.card2 {
    width: 25rem;
    height: 12rem;
    padding: 10px;
}

.colom {
    height: auto;
    width: 90%;
    border: solid 2px #03346E;
    border-radius: 5px;
}

.colom h2 {
    font-weight: 300;
    font-size: 20px;
    margin: 30px;
    text-align: justify;
}

.imgnyt {
    margin-bottom: 50px;
    width: 100%;
}

.imgnyt img {
    width: 40vw;
    height: 50vh;
    border-radius: 15px;
    min-width: 20rem;
}

.deskripsinyata {
    text-align: left;
    margin-top: 50px;
    font-size: 20px;
}

.showdetail {
    margin-top: 50px;
    margin-bottom: 30px;
}

.showdetail a {
    font-size: 20px;
    text-decoration: none;
    color: #021526;
    transition: 0.1s ease;
}

.showdetail a:hover {
    font-weight: bold;
}

footer {
    background-color: #03346E;
    align-items: center;
    text-align: center;
    height: 5rem;
}

footer h3 {
    padding-top: 2rem;
    color: #ffffff;
    font-weight: 100;
}

@media (max-width: 995px) {
    nav .links {
        display: flex;
        flex-direction: column;
        height: 100rem;
        width: 80%;
        background-color: #021526;
        justify-content: end;

        transform: translateX(-100%);
        transition: 0.3s ease; 
    }

    nav .links.active {
        transform: translateX(0);
    }

    nav .links a {
        position: relative;
        top: -30rem;
        left: -25px;
        margin-top: -14px;
        font-size: 19px;
    }

    nav .versihape {
        display: block;
    }

    .versihape {
        width: 50%;
        color: #ffffff;
        text-align: right;
        margin-right: 20px;
    }

    .versihape span {
        font-size: 40px;
    }

    .textheader h1 {
        font-size: 3rem;
    }

    .imgnyt img {
        height: 30vh;
    }

    header div img {
        height: 15rem
    }

    .textheader {
        margin-top: -12rem;
    }

    .textheader h1 {
        font-size: 2rem;
    }

    .textheader h2 {
        font-size: 1rem;
    }

    .mengenal {
        margin-top: -22rem;
    }

    .card .icon {
        height: 16%;
        width: 26%;
    }
}